<ion-header>
  <ion-toolbar>
    <ion-title>Conductor</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="warning"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item *ngFor="let conductor of cond" [routerLink]="['/conductores',conductor.id]" (click)="alertaConductores()">


    <div><p><ion-avatar><img src={{conductor.imgUrl}}></ion-avatar></p></div>
    
    <ion-label>
      {{conductor.id}} <i>)</i>
      {{conductor.nombre}}
      {{conductor.apellido}}
      <br>
      <b>Destino: </b>{{conductor.destino}}
      <br>
      <b>Capacidad: </b>{{conductor.capacidad}}
      <ion-icon name="checkmark-circle" color="warning"></ion-icon>
    </ion-label>

  </ion-item>




  <ion-list>
    <h1><u><b>Conductores pasados</b></u></h1>
    <ion-item *ngFor = "let item of users">
      <ion-label>
        <br>
        {{item.id}} <b>)</b> {{item.name}}
        <br>
        <b>E-mail: </b>{{item.email}}
        <br>
        <b>Telefono: </b>{{item.phone}}
        <br>
        <b>Ciudad: </b>{{item.address.city}}
      </ion-label>
    </ion-item>
  </ion-list>



</ion-content>