<ion-header>
  <ion-toolbar>
    <ion-title>Conductor</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="warning"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="logo">
    <img src="https://cdn3.iconfinder.com/data/icons/dompicon-flat-male-profession-avatar-2/256/profession-train-conductor-male-avatar-512.png">
  </div>

  <div class="form">

    <ion-item lines="none">
      <ion-input placeholder="Ingrese su nombre de usuario"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-input placeholder="Ingrese su contraseña" type="password"></ion-input>
    </ion-item>

    <ion-button [routerLink]="['/home']" color="light" expand="block">Entrar</ion-button>

  </div>

  <ion-button fill="clear" expand="block">Nuevo? Registrate aqui.</ion-button>
  <ion-button [routerLink]="['/olvipassc']" fill="clear" expand="block">Olvidaste tu contraseña?</ion-button>

</ion-content>

