ion-content{
  background-color: black;
}

ion-title{
    text-align: center;
    margin-right: 20%;
    color: black;
    text-shadow:-1px 0 #c4bc73, 0 1px #c4bc73,
    1px 0 #c4bc73, 0 -1px #c4bc73
  }

  #btnSiguiente{
      text-align: center;
  }

  #imgViaje{
    border-radius: 10%;
  }

  .cartaViaje{
    border-radius: 5%;
  }
  
  #subtitleViaje{
    text-align: center;
  }
  
  #cardtitleViaje{
    text-align: center;
  }
  
  #cardcontentViaje{
    text-align: center;
  }
  